<!--
  Generated template for the AllSubstitutePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header class="Header">-->

  <!--<ion-navbar >-->
    <!--<button class="HeaderMenuButton"  ion-button icon-only menuToggle end>-->
      <!--<ion-icon name="md-menu"></ion-icon>-->
    <!--</button>-->
    <!--<ion-title class="HeaderTitle"> צהלה <span class="HeaderSubTitle">עמוד מחליפות</span> </ion-title>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->

<ion-header xmlns="http://www.w3.org/1999/html">
  <ion-navbar >
    <button class="HeaderMenuButton"  ion-button icon-only menuToggle start>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title align="center" class="HeaderTitle1">
      <img class="headerImage" src="{{userImage}}"  />
      <div class="HeaderTitleText"> {{userName }}</div>
      <div class="HeaderTitleDesc"> {{typeName }}</div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="Types" *ngIf="Id == 1 || Id == 2">
    <div class="typeRight" (click)="changeType(2)">
      <button ion-button [ngClass]="{'buttonColor1' : (Type == 2), 'buttonColor2':(Type == 1)}">סייעות אם</button>
    </div>
    <div class="typeLeft" (click)="changeType(1)">
      <button ion-button   [ngClass]="{'buttonColor1' : (Type == 1), 'buttonColor2':(Type == 2)}" >גננות אם</button>
    </div>
  </div>
  <div class="filter">
    <div class="filterRight">
      <ion-searchbar [(ngModel)]="SubstituteName" (ionInput)="setFilteredItems()" placeholder="חפש גננת/סייעת" style="text-align: right !important; direction: rtl !important;"></ion-searchbar>
    </div>
    <div class="filterLeft">
        <div class="item item-select">
        <select [(ngModel)]="Area">
          <option style="margin-left: 30px; padding-left: 30px; " value="{{area.id}}" *ngFor="let area of Regions">{{area.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div>
    <ion-list>
      <div *ngFor="let sub of items | filterJobs:Area let i=index">
        <div ion-item text-wrap detail-push *ngIf="sub.type_id == Type"  side="right" style="direction:rtl;" >
          <div class="jobRight">
            <img *ngIf="sub.image == ''" class="thumb" src="https://wordsmith.org/words/images/avatar2_large.png" style="width: 100%" />
            <img *ngIf="sub.image != ''" class="thumb" src="{{host}}{{sub.image}}" style="width: 100%" />
          </div>
          <div class="jobLeft">
            <div class="time">
              <div class="timeLeft">
                <h3>  {{sub.name}}</h3>
              </div>
            </div>
            <h2 *ngIf="sub.type_id == 3">  תפקיד : גננת מוסמכת</h2>
            <h2 *ngIf="sub.type_id == 4"> תפקיד : סייעת</h2>
            <h4>{{sub.address}}</h4>
            <button ion-button (click)="gotoChat(i)">שלח הודעה ל{{sub.name}}</button>
          </div>
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
