page-login {
  .loginTitle
  {
    text-align: center;
    color: color($colors, primary);
    font-size: 30px;
    font-family: secular;
  }

  .InputsText
  {
    width: 100%;
    margin-top: 10px;
  }

  .InputText
  {
    width: 90%;
  }

  .register
  {
    position: relative;
    top:15px;
    font-size: 15px;
  }

  .InputText input
  {
    width: 100%;
    text-align: right;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }

  .loginButton
  {
    width: 90%;
    margin-top: 20px;
  }
}
