<ion-content padding>
    <div class="loginMain">
        <div class="loginTitle">
            הרשמה
        </div>
        <div class="InputsText" align="center">
            <div class="InputText">
                <input type="text" placeholder="עדכן שם מלא" [(ngModel)]="info.name" />
            </div>
            <div class="InputText mt10">
                <input type="text" placeholder="הכנס מספר טלפון" [(ngModel)]="info.phone" />
            </div>
            <div class="InputText mt10">
                <input type="text" placeholder="הכנס כתובת מדוייקת" [(ngModel)]="info.address" />
            </div>
            <div class="InputText mt10">
                <input type="text" placeholder="הכנס אימייל" [(ngModel)]="info.mail" />
            </div>
            <div class="InputText mt10">
                <input type="text" placeholder="הכנס סיסמה" [(ngModel)]="info.password" />
            </div>

            <ion-item class="selectRegion">
                <ion-label>בחר איזור</ion-label>
                <ion-select [(ngModel)]="info.area" >
                    <ion-option value="{{region.id}}" *ngFor="let region of Regions">{{region.name}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item class="selectRegion">
                <ion-label>בחר סוג</ion-label>
                <ion-select [(ngModel)]="info.type">
                    <ion-option value="{{type.id}}" *ngFor="let type of Types">{{type.name}}</ion-option>
                </ion-select>
            </ion-item>

            <div class="InputText mt10">
                <textarea [(ngModel)]="info.info" name="info" placeholder="הכניסי קצת פרטים עלייך" rows="4"></textarea>
            </div>

            <button class="loginButton" ion-button block (click)="doRegister()">שמור</button>
            <a class="register" (click)="GoToHome()">חזור לעמוד ראשי  </a>
        </div>
    </div>
</ion-content>

