<!-- Generated template for the AddJobModalComponent component -->
<div class="Content">
    <div class="closeButton" (click)="onSubmit(f,0)">
        <button ion-button round class="Bt">x</button>
    </div>
  <div class="title">
    הכנסת משרה
  </div>

    <form #f="ngForm" class="Form"  >
        <ion-list>

            <ion-item class="formElement">
                <ion-label>בחר תאריך</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" name="date"></ion-datetime>
            </ion-item>

            <ion-item class="formElement">
                <ion-label>בחר שעה</ion-label>
                <ion-datetime displayFormat="HH:mm " pickerFormat="HH mm " [(ngModel)]="time" name="time"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label>בחרי איזור</ion-label>
                <ion-select [(ngModel)]="region" name="region">
                    <ion-option value="{{type.id}}" *ngFor="let type of Regions">{{type.name}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>בחרי סוג</ion-label>
                <ion-select [(ngModel)]="type" name="type">
                    <ion-option value="{{type.id}}" *ngFor="let type of SortType">{{type.name}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-textarea [(ngModel)]="info" name="info" placeholder="הכניסי תיאור המשרה"></ion-textarea>
            </ion-item>
        </ion-list>

        <div style="width: 100%; margin-top: 50px;" align="center">
            <div style="width: 80%" align="center">
                <button ion-button block (click)="onSubmit(f,1)">הוסף משרה </button>
                <button ion-button block (click)="onSubmit(f,0)" style="background-color: red">בטל משרה </button>
            </div>
        </div>

    </form>
</div>
