page-open-jobs1 {
  .jobRight {
    width: 20%;
    float: right;
  }
  .jobLeft {
    overflow: hidden;
    width: 70%;
    float: right;
    margin-right: 5%;
    margin-top: 1px;
  }

  .time {
    overflow: hidden;
  }
  .timeLeft {
    width: 50%;
    float: right;
  }
  .timeRight {
    width: 50%;
    float: left;
  }

  .filter {
    width: 100%;
    overflow: hidden;
    margin-top: -5px;
  }

  .filterRight
  {
    width: 48%;
    float: right;
  }

  .filterLeft
  {
    width: 48%;
    float: left;
  }

  .selectRegion1
  {
    direction: rtl;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0px !important;
    height: 8px;
    background-color: white;
  }
}

.alert-radio-group .button-inner {
  margin-right: 30px;
}

.alert-head {
  text-align: right;
  direction: rtl;
}

.alert-radio-group {
  text-align: right;
  direction: rtl;
}

