<!--
  Generated template for the OpenJobsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header xmlns="http://www.w3.org/1999/html">
  <ion-navbar >
    <button class="HeaderMenuButton"  ion-button icon-only menuToggle start>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title align="center" class="HeaderTitle1">
      <img class="headerImage" src="{{userImage}}"  />
      <div class="HeaderTitleText"> {{userName }}</div>
      <div class="HeaderTitleDesc"> {{typeName }}</div>
   </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <div class="filter">
      <div>
        <!--<ion-item class="selectRegion1">-->
          <!--<ion-label>בחרי איזור</ion-label>-->
          <!--<ion-select [(ngModel)]="Area">-->
            <!--<ion-option style="margin-left: 30px; padding-left: 30px; background-color:red !important;" value="{{area.id}}" *ngFor="let area of Regions">{{area.name}}</ion-option>-->
          <!--</ion-select>-->
        <!--</ion-item>-->
          <div class="item item-select selectRegion2">
              <select [(ngModel)]="Area">
                  <option style="margin-left: 30px; padding-left: 30px; " value="{{area.id}}" *ngFor="let area of Regions">{{area.name}}</option>
              </select>
          </div>
      </div>
    </div>
    <ion-list>
      <div *ngFor="let job of jobs | filterJobs:Area let i=index  ">
        <ion-item  text-wrap detail-push  *ngIf="job.type == Type" side="right" style="direction:rtl">
          <div >
            <div class="jobRight">
              <img *ngIf="job.Image == ''" class="thumb" src="https://wordsmith.org/words/images/avatar2_large.png" style="width: 100%" />
              <img *ngIf="job.Image != ''" class="thumb" src="{{host}}{{job.Image}}" style="width:80px; height:73px;" />
            </div>
            <div class="jobLeft">
              <div class="time">
                <div class="timeLeft">

                  <h3>  {{getCurrentDate(job.created_at)}}  </h3>
                </div>
                <div class="timeRight">
                  <h3 style="direction: rtl">שעה : {{getCurrentTime(job.created_at)}}</h3>
                </div>
                <div class="edit" (click)="updateModal(i)">
                  <img src="images/edit.png" style="width: 100%" />
                </div>
              </div>
              <hr style="margin:0px;">
                <h2>{{job.info}}</h2>
                <h2>תאריך : {{reversDate(job.Date2)}} </h2>
              <div class="time">
                <div class="timeLeft">
                  <h3>התחלה : {{job.Time2}}</h3>
                </div>
                <div class="timeRight">
                  <h3 style="direction: rtl">סיום : {{cutTime(job.end_time)}}</h3>
                </div>
              </div>



              <button style="background-color: red" *ngIf="job.isBid != 1" ion-button (click)="presentPrompt(i)">הגישי הצעה</button>
              <button *ngIf="job.isBid == 1" ion-button>שלחת הצעה לעבודה</button>
            </div>
          </div>
        </ion-item>
      </div>

    </ion-list>
  </div>
</ion-content>
