page-open-jobs {
  .jobRight {
    width: 20%;
    float: right;
  }


  .item-select select {
    margin-right: 10px;
    text-indent: 15px;
    height: 44px;
    width:95%;
    border: 1px solid #f5f5f5;
    text-shadow: 0 0 3px #f5f5f5, 0 0 5px #f5f5f5;
  }

  .jobLeft {
    overflow: hidden;
    width: 70%;
    float: right;
    margin-right: 5%;
    margin-top: 1px;
  }

  .time
  {
    overflow: hidden;
  }

  .timeLeft
  {
    width: 45%;
    float: right;
    font-weight: bold;
    font-size: 13px;
  }

  .timeRight
  {
    width: 35%;
    float: right;
    font-weight: bold;
    margin-right:10px;
  }

  .edit
  {
    float: left;
    width: 7%;
  }

  .timeLeft h3
  {
    font-size: 13px !important;
  }

  .timeRight h3
  {
    font-size: 13px !important;
  }

  .filter {
    width: 100%;
    overflow: hidden;
    margin-top: -5px;
  }

  .filterRight
  {
    width: 48%;
    float: right;
  }

  .filterLeft
  {
    width: 48%;
    float: left;
  }

  .selectRegion1
  {
    direction: rtl;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0px !important;
    height: 2px !important;
    background-color: white;
  }

  .selectRegion2
  {
    direction: rtl;
    width: 100%;
    padding: 0px !important;
    background-color: white;
  }
}

.alert-radio-group .button-inner {
  margin-right: 30px;
}

.alert-head {
  text-align: right;
  direction: rtl;
}

.alert-radio-group {
  text-align: right;
  direction: rtl;
}

.select-text
{
  margin-left: 20px;
  margin-top: 0px;
  font-family: Arial;
}

