<!--&lt;!&ndash;-->
  <!--Generated template for the MessagesPage page.-->

  <!--See http://ionicframework.com/docs/components/#navigation for more info on-->
  <!--Ionic pages and navigation.-->
<!--&ndash;&gt;-->
<!--<ion-header>-->
  <!--<ion-navbar >-->
    <!--<button class="HeaderMenuButton"  ion-button icon-only menuToggle end>-->
      <!--<ion-icon name="md-menu"></ion-icon>-->
    <!--</button>-->
    <!--<ion-title class="HeaderTitle"> צהלה <span class="HeaderSubTitle">עמוד הודעות</span> </ion-title>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->
<ion-header xmlns="http://www.w3.org/1999/html">
    <ion-navbar >
        <button class="HeaderMenuButton"  ion-button icon-only menuToggle start>
            <ion-icon name="md-menu"></ion-icon>
        </button>
        <ion-title align="center" class="HeaderTitle1">
            <img class="headerImage" src="{{userImage}}"  />
            <div class="HeaderTitleText"> {{userName }}</div>
            <div class="HeaderTitleDesc"> {{typeName }}</div>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-list>
      <ion-item  text-wrap detail-push *ngFor="let message of messages let i=index" side="right" style="direction:rtl" >
        <div class="jobRight" >
          <img *ngIf="message.user_image == ''" class="thumb" src="https://wordsmith.org/words/images/avatar2_large.png" style="width: 100%" />
          <img *ngIf="message.user_image != ''" class="thumb" src="{{host}}{{message.user_image}}" style="width: 100%" />
        </div>
        <div class="jobLeft">
          <div class="time">

          </div>
          <h2>{{message.user_name}}</h2>
          <h3>מספר הודעות : {{message.unread_message}}</h3>
          <button ion-button (click)="gotoChat(i)">שלח הודעה ל{{message.user_name}}</button>
          <!--<button ion-button (click)="open_close_project(job)">{{checkState(job.is_close)}}</button>-->
          <!--<button ion-button (click)="open_project_bid(i)">{{job.bids.length}} הצעות הוגשו</button>-->
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
