<!--
  Generated template for the AddJobPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!--<ion-title>addJob</ion-title>-->
      <ion-title align="center" class="HeaderTitle2">הוסיפי משרה </ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
    <div class="Content">

        <div class="title">
            הכנסת משרה
        </div>

        <form #f="ngForm" class="Form"  >
            <ion-list>

                <ion-item class="formElement">
                    <ion-label>בחר תאריך</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" name="date"></ion-datetime>
                </ion-item>

                <ion-item class="formElement">
                    <ion-label>בחרי שעת התחלה</ion-label>
                    <ion-datetime displayFormat="HH:mm " pickerFormat="HH mm " [(ngModel)]="start_time" name="start_time"></ion-datetime>
                </ion-item>

                <ion-item class="formElement">
                    <ion-label>בחרי שעת סיום</ion-label>
                    <ion-datetime displayFormat="HH:mm " pickerFormat="HH mm " [(ngModel)]="end_time" name="end_time"></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label>בחרי איזור</ion-label>
                    <ion-select [(ngModel)]="region" name="region">
                        <ion-option value="{{type.id}}" *ngFor="let type of Regions">{{type.name}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>בחרי סוג</ion-label>
                    <ion-select [(ngModel)]="type" name="type">
                        <ion-option value="{{type.id}}" *ngFor="let type of SortType">{{type.name}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-textarea [(ngModel)]="info" name="info" placeholder="הכניסי תיאור המשרה"></ion-textarea>
                </ion-item>
            </ion-list>

            <div style="width: 100%; margin-top: 50px;" align="center">
                <div style="width: 80%" align="center">
                    <button ion-button block (click)="onSubmit(f,1)">הוסף משרה </button>
                    <button ion-button block (click)="onSubmit(f,0)" style="background-color: red">בטל  </button>
                </div>
            </div>

        </form>
    </div>

</ion-content>
